# Python stuff
*.pyo
*.pyc

# Ignore installation directory
plugin.program.AEL

# Misc files
*.html
*.kate-swp
/plugin.program.advanced.emulator.launcher.sln
/plugin.program.advanced.emulator.launcher.pyproj.user
/plugin.program.advanced.emulator.launcher.pyproj
/.vs/plugin.program.advanced.emulator.launcher/v14/.suo
__pychache__/
/.cache/
/.dist/
/node_modules/
/.vscode/
.addon
prod.env
package.json
package-lock.json
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
