<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="ROM scanner">
    <!-- <setting id="separator" type="lsep" label="Scan settings"/> -->
    <setting label="Recursive scan" type="bool" id="scan_recursive" default="true" />
    <setting label="Ignore BIOS files" type="bool" id="scan_ignore_bios" default="false"/>
    <setting label="Metadata scan policy" type="enum" id="scan_metadata_policy"  default="2" values="None|NFO Files|NFO Files + Scrapers|Scrapers" />
    <setting label="Thumb scan policy" type="enum" id="scan_thumb_policy" default="0" values="Local Images|Local Images + Scrapers|Scrapers" />
    <setting label="Fanart scan policy" type="enum" id="scan_fanart_policy" default="0" values="Local Images|Local Images + Scrapers|Scrapers" />
    
    <!-- <setting id="separator" type="lsep" label="Title Formatting"/> -->
    <setting label="Ignore Scrapped Titles (use ROM filenames instead)" type="bool" default="false" id="scan_ignore_title" />
    <setting label="Clean Titles Tags" type="bool" default="false" id="scan_clean_tags" />
    <setting label="Article ('The', 'A') at the end" type="bool" default="false" id="scan_title_formatting" />
</category>
<category label="ROM scrapping">
    <setting id="separator" type="lsep" label="Scrapers"/>
    <setting label="Metadata scraper" type="enum" id="metadata_scraper" default="0" values="Offline scraper|TheGamesDB|GameFAQs"/>
    <setting label="Thumb scraper" type="enum" id="thumb_scraper" default="0" values="TheGamesDB|GameFAQs"/>
    <setting label="Fanart scraper" type="enum" id="fanart_scraper" default="0" values="TheGamesDB|GameFAQs"/>

    <setting id="separator" type="lsep" label="Scrapping mode"/>
    <setting label="Metadata scrapping mode" type="enum" id="metadata_mode" default="1" values="Semi-automatic|Automatic"/>
    <setting label="Thumb scrapping mode" type="enum" id="thumb_mode" default="0" values="Semi-automatic|Automatic"/>
    <setting label="Fanart scrapping mode" type="enum" id="fanart_mode" default="0" values="Semi-automatic|Automatic"/>
</category>
<category label="Scrapers">
    <setting label="Region" type="enum" id="scraper_region" default="0" values="World|Europe|Japan|America"/>
    <setting label="Thumb Images Size" type="enum" id="scraper_thumb_size" default="0" values="All|Icon|Small|Medium|Large|XLarge|XXLarge|Huge"/>
    <setting label="Fanart Images Size" type="enum" id="scraper_fanart_size" default="0" values="All|Icon|Small|Medium|Large|XLarge|XXLarge|Huge"/>
    <setting label="Preferred arcade images" type="enum" id="scraper_image_type" default="0" values="Snapshots|Flyers"/>
    <setting label="Selected fanart image" type="enum" id="scraper_fanart_order" default="0" values="First|Half|Last"/>
</category>
<category label="Display">
    <setting label="Hide categories/launchers/ROMs marked as finished" type="bool" id="display_hide_finished" default="false" />
    <setting label="Activate 'Launching Application' notification" type="bool" id="display_launcher_notification" default="false" />
</category>
<category label="Paths">
    <setting id="separator" type="lsep" label="Categories paths"/>
    <setting label="For Thumb images" type="folder" id="categories_thumb_dir" default="" source="" />
    <setting label="For Fanart images" type="folder" id="categories_fanart_dir" default="" source=""/>
    <setting label="For NFO files" type="folder" id="categories_nfo_dir" default="" source="" />

    <setting id="separator" type="lsep" label="Launchers paths"/>
    <setting label="For Thumb images" type="folder" id="launchers_thumb_dir" default="" source="" />
    <setting label="For Fanart images" type="folder" id="launchers_fanart_dir" default="" source=""/>
    <setting label="For NFO files" type="folder" id="launchers_nfo_dir" default="" source="" />
</category>
<category label="Advanced">
    <setting id="separator" type="lsep" label="Launcher options"/>
    <setting label="Action on Kodi playing media" type="enum" id="media_state" default="0" values="Stop|Pause|Let Play" />
    <setting label="Disable LIRC (Linux)" type="bool" id="lirc_state" default="true" />
    <setting label="Delay (ms)" type="slider" id="start_tempo" default="500" range="0,100,15000" option="int"/>

    <setting id="separator" type="lsep" label="Debug options"/>
    <setting label="Log level" type="enum" id="log_level" default="2" values="ERROR|WARNING|INFO|VERBOSE|DEBUG" />
    <setting label="Show batch command window" type="bool" id="show_batch_window" default="false"/>
</category>
</settings>
