<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.program.ael">
        <category id="rom_scanner" label="40010">
			<group id="1">
                <setting id="scan_ignore_scrap_title" type="boolean" label="40103" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="scan_clean_tags" type="boolean" label="40104" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="scan_update_NFO_files" type="boolean" label="40105" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="rom_scraping" label="40011">
			<group id="2">
                <setting id="scrape_metadata_policy" type="integer" label="40201" help="">
                    <level>0</level>
                    <default>20040</default>
                    <constraints>
                        <options>
                            <option label="20010">20010</option>
                            <option label="20020">20020</option>
                            <option label="20040">20040</option>
                            <option label="20060">20060</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="scrape_assets_policy" type="integer" label="40202" help="">
                    <level>0</level>
                    <default>20060</default>
                    <constraints>
                        <options>
                            <option label="20030">20030</option>
                            <option label="20050">20050</option>
                            <option label="20060">20060</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="game_selection_mode" type="integer" label="40203" help="">
                    <level>0</level>
                    <default>20520</default>
                    <constraints>
                        <options>
                            <option label="20510">20510</option>
                            <option label="20520">20520</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="asset_selection_mode" type="integer" label="40204" help="">
                    <level>0</level>
                    <default>20520</default>
                    <constraints>
                        <options>
                            <option label="20510">20510</option>
                            <option label="20520">20520</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
            </group>
        </category>
        <category  id="rom_audit" label="40013">
			<group id="3">
                <setting id="audit_unknown_roms" type="integer" label="40301" help="">
                    <level>0</level>
                    <default>20530</default>
                    <constraints>
                        <options>
                            <option label="20530">20530</option>
                            <option label="20531">20531</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="audit_pclone_assets" type="boolean" label="40302" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="audit_nointro_dir" type="path" label="40303" help="">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source/>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>40303</heading>
					</control>
                </setting> 
                <setting id="audit_redump_dir" type="path" label="40304" help="">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source/>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>40304</heading>
					</control>
                </setting> 
            <!--
                <setting label="1G1R primary region" type="enum" id="audit_1G1R_first_region" default="0" values="Europe|USA|Japan" />
                <setting label="1G1R secondary region" type="enum" id="audit_1G1R_second_region" default="0" values="Spain|France|Brazil|Korea" />
                <setting label="1G1R tertiary region" type="enum" id="audit_1G1R_third_region" default="0" values="Spain|France|Brazil|Korea" />
            -->
            </group>
        </category>
        <category id="display" label="40014">
            <group id="grp_general" label="40021">
                <setting id="display_hide_finished" type="boolean" label="40403" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_launcher_roms" type="boolean" label="40404" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="grp_tags" label="40022">
                <setting id="display_rom_in_fav" type="boolean" label="40405" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_nointro_stat" type="boolean" label="40406" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_fav_status" type="boolean" label="40407" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="grp_specials" label="40023">
                <setting id="display_hide_favs" type="boolean" label="40408" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_hide_collections" type="boolean" label="40409" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_hide_vlaunchers" type="boolean" label="40410" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_hide_AEL_scraper" type="boolean" label="40411" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_hide_recent" type="boolean" label="40412" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_hide_mostplayed" type="boolean" label="40413" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_hide_utilities" type="boolean" label="40414" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="display_hide_g_reports" type="boolean" label="40415" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="paths" label="40015">
            <group id="4">
                <setting id="categories_asset_dir" type="path" label="40501" help="">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source/>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>40501</heading>
					</control>
                </setting> 
                <setting id="launchers_asset_dir" type="path" label="40502" help="">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source/>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>40502</heading>
					</control>
                </setting> 
                <setting id="collections_asset_dir" type="path" label="40504" help="">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source/>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>40504</heading>
					</control>
                </setting> 
                <!-- <setting label="40503" type="folder" id="favourites_asset_dir" default="" source="" /> -->
            </group>
        </category>
        <!-- <category id="plugins" label="40017">
            <group id="grp_plugins">
                <setting id="script_ael_defaults" type="addon" label="40701" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <addontype>script.ael.defaults</addontype>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="addon">
                        <heading>40701</heading>
                        <show more="true" details="true">installed</show>
                    </control>
                </setting>
                <setting id="script_ael_google" type="addon" label="40702" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <addontype>script.ael.google</addontype>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="addon">
                        <heading>40702</heading>
                        <show more="true" details="true">installed</show>
                    </control>
                </setting>
            </group>
        </category> -->
        <category id="advanced" label="40016">
            <group id="5">
                <setting id="log_level" type="integer" label="40610" help="">
                    <level>1</level>
                    <default>1</default>
                    <constraints>
                        <options>
                            <option label="30911">0</option>
                            <option label="30912">1</option>
                            <option label="30913">2</option>
                            <option label="30914">3</option>
                            <option label="30915">4</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="migrated_version" type="string" label="40611" help="">
                    <level>1</level>
                    <default>0.0.0</default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>40611</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>